name: Validate JSON
on:
  pull_request:

jobs:
  build:
    name: Success
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Install jq
        run: |
          sudo apt-get -qq update -y
          sudo apt-get -qq install -y jq
      - name: Validate JSON
        run: |
          jq . default.json
