name: Validate JSON
on:
  pull_request:

jobs:
  build:
    name: Success
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install jq
        run: |
          sudo apt-get -qq update -y
          sudo apt-get -qq install -y jq
      - name: Validate JSON
        run: |
          jq . default.json
